<header class="nhsuk-header" role="banner">
  <div class="nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link nhsuk-header__link--service" href="{{ site.baseurl }}/" aria-label="NHS Notify homepage">

        <span class="nhsuk-header__service-name">
          Not an Official Solution Architecture Framework
        </span>
      </a>
    </div>
  </div>
  <div class="nhsuk-navigation-container">
    {%- include primary-navigation.html -%}
  </div>
</header>