
<table>
{% for saf in site.safs %}
{% if saf.dimension != include.saf_dimension_name %}
{% continue %}
{% endif %}

<tr>
 <td {%- if saf.requirement -%} {%- if saf.requirement contains '**MUST**' %} style="background-color: red;" {%- elsif saf.requirement contains '**SHOULD**' %} style="background-color: orange;" {%- else %} style="background-color: blue;" {%- endif -%}{%- endif -%}>
    <a href="{{ saf.url | relative_url }}">
      {{ saf.title }}
    </a>
  </td>
  <td>
    {%- if saf.description -%}<b>{{saf.description}}: </b>{%- endif -%}
    {{saf.requirement | default: saf.content  | markdownify | remove: '<p>' | remove: '</p>' }}
  </td>
</tr>

{% endfor %}
</table>