{% for saf_dimension in site.saf_dimensions  %}
<h3>  <a href="{{ saf_dimension.url | relative_url }}">{{saf_dimension.title}}</a></h3>


<table>
<tr>
  <th>
    Complete
  </th>
  <th>
    Score
  </th>  
  <th>
    Item
  </th>
  <th>
    Description
  </th>
</tr>
{% for saf in site.safs  %}
{% if saf.dimension != saf_dimension.name %}
{% continue %}
{% endif %}
<tr>
    <td style="width:5%;">
    <input type="checkbox">
  </td>
    <td style="width:15%;">
    <select name="cars" id="cars">
      <option value="0">0: No evidence</option>
      <option value="1">1: Limited requirements met</option>
      <option value="2">2: Some requirements met</option>
      <option value="3">3: Much requirements met</option>
      <option value="4">4: Most requirement met</option>
      <option value="5">5: All requirement met</option>
    </select>
  </td>
  <td style="width:5%;">
    <a href="{{ saf.url | relative_url }}">
      {{ saf.title }}
    </a>
  </td>
  <td style="padding-left: 5px;">

    {% include saf_content.html summary_only=true saf=saf %}
  </td>

</tr>
{% endfor %}
</table>

{% endfor %}