<style>
@font-face {
    font-family: "Frutiger W01";
    font-style: normal;
    src: url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2") format('woff2');
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%;
    text-align:left
  }

  #print-parent{
    width:100%; 
    font-family: Frutiger W01;
  }

  a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#000000; 
    text-decoration:underline; 
    cursor:pointer;  
}

a:visited {
    color:#000000; 
    text-decoration:none; 
    cursor:pointer;  
}
</style>

<div id="print-parent">

<h2>NHS England: Solution Architecture Framework (SAF) </h2>
<table style="width:20%;">
  <tr>
    <td style="width:30%;">
    Version
    </td>
  <td style="width:70%;">
    v{{ site.data.changelog.changelog.version}}
  </td>
  </tr>
  <tr>
    <td style="width:30%;">
    Version Date
    </td>
  <td style="width:70%;">
    {{ site.data.changelog.changelog.date}}
  </td>
  </tr>    
  <tr>
    <td style="width:30%;">
    Name
    </td>
  <td style="width:70%;">
  </td>
  </tr>
  <tr>
    <td style="width:30%;">
    Date
    </td>
  <td style="width:70%;">
  </td>
  </tr>
  <tr>
    <td style="width:30%;">
    Project
    </td>
  <td style="width:70%;">
  </td>
  </tr>    
</table>

{% for saf_dimension in site.saf_dimensions  %}

<h3>  {{saf_dimension.title}}</h3>


<table>
<tr>
    <th style="width:3%;">
    Item
  </th>
    <th style="width:10%;">
    Title
  </th>  
      <th style="width:20%;">
    Notes
  </th>  
  <th style="width:3%;">
    Complete ✅ / ❌
  </th>  
  <th style="width:3%;">
    Score <br/> (0-5)
  </th>    

  <th>
    Description
  </th>
</tr>
{% for saf in site.safs  %}
{% if saf.dimension != saf_dimension.name %}
{% continue %}
{% endif %}
<tr>
    <td style="width:3%;">
     <b><a href="{{saf.url |relative_url}}">{{ saf.title }}</a></b> 
  </td>
    <td style="width:10%;">
   {{ saf.description }}
  </td>
      <td style="width:20%;">
  
  </td>
    <td style="width:3%;">
  
  </td>
      <td style="width:3%;">
  
  </td>

  <td>

   {{saf.requirement | default: saf.content  | markdownify | remove: '<p>' | remove: '</p>' }}
  </td>

</tr>
{% endfor %}
</table>

{% endfor %}
</div>