{% for saf_dimension in site.saf_dimensions  %}
<h3>  <a href="{{ saf_dimension.url | relative_url }}">{{saf_dimension.title}}</a></h3>


<table>
{% for saf in site.safs  %}
{% if saf.dimension != saf_dimension.name %}
{% continue %}
{% endif %}
<tr>
  <td {%- if saf.requirement -%} {%- if saf.requirement contains '**MUST**' %} style="background-color: red;" {%- elsif saf.requirement contains '**SHOULD**' %} style="background-color: orange;" {%- else %} style="background-color: blue;" {%- endif -%}{%- endif -%}>
    <a href="{{ saf.url | relative_url }}">
      {{ saf.title }}
    </a>
  </td>
  <td >

    {% include saf_content.html summary_only=true saf=saf %}
  </td>
</tr>
{% endfor %}
</table>

{% endfor %}