<div class="nhsnotify-pane__side-bar">
<nav class="nhsnotify-side-nav">
    <ul class="nhsuk-list nhsnotify-side-nav__list">
    {% for section in first_level %}
    {% if section.name != "" %}
    <li class="nhsuk-u-font-weight-bold nhsnotify-side-nav__list-section">{{ section.name }}</li>
    {% endif %}
    {% assign sorted = section.items | sort: 'nav_order' %}
    {% for post in sorted %}
    {% unless post.has_children %}
    <li class="
            nhsnotify-side-nav__item
            {% if post.url == page.url %}
            nhsnotify-side-nav__item--current
            {% endif %}
        ">
        <a class="nhsnotify-side-nav__link" href="{{ site.baseurl | append: post.url }}">{{ post.title }}</a>
    </li>
    {% endunless %}
    {% endfor %}
    {% endfor %}    
    </ul>

</nav>
</div>