{%- assign site_pages_only = site.pages -%} 
{%- assign site_saf_dimensions = site.saf_dimensions -%} 
{%- assign site_safs = site.safs -%} 

{% assign site_pages_all = site_pages_only | concat: site_saf_dimensions | concat: site_safs %}
{% assign site_pages = site_safs %}



{% assign alldocs = site_pages %}	

{% assign alltags =  alldocs | map: 'tags' | join: ',' | split: ',' | where_exp: "item", "item != ''" | group_by_exp: "item", "item" %}

{% assign alltags =  alltags | sort_natural: "size" | reverse %}

{%- for tag in alltags -%}

{%- assign tag_path = "tags/" | append: tag.name  -%} 
<h3> <a href="{{tag_path | relative_url}}"> {{tag.name}}</a>: {{tag.size}}</h3>

<ul>
{%- assign sorted_docs = site_pages | sort: "title" -%}    
{%- for doc in sorted_docs -%}
{%- if doc.tags contains tag.name -%}
<li><a href="{{doc.url | relative_url}}">{{doc.title}}{%- if doc.description -%}: {{doc.description}}{%- endif -%}</a></li>
{%- endif -%}
{%- endfor -%}
</ul>
{%- endfor -%}

