---
layout: default
---

{% assign current_dir = page.dir %}
{% assign paths = page.dir | split: "/" %}
{% assign parent_dir = paths[1] %}

{%-
assign nav_pages = site.pages
| where_exp: "item", "item.dir contains parent_dir"
-%}

{% assign first_level_dir = parent_dir | prepend: '/' | append: '/' %}
{%-
assign first_level = nav_pages
| where_exp: "item", "item.dir == first_level_dir"
| group_by: "section"
| sort: 'name', 'last'
-%}
<div class="nhsuk-width-container">
  {%- include breadcrumb.html -%}
  <main class="nhsuk-main-wrapper--s" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsnotify-pane">
          {%- include side.html -%}
          <div class="nhsnotify-pane__main-content">
            {% if page.section != undefined %}
            <heading class="nhsuk-heading-s" style="margin-bottom: 0; color: #4c6272">{{ page.section }}</heading>
            {% endif %}
             {% include construction.html %}
            <h1>{{ page.title }}</h1>
             
            {{ content }}
           
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
 {%- include footer.html -%}