---
layout: default
---


<div class="nhsuk-width-container">
  {%- include breadcrumb.html -%}
  <main class="nhsuk-main-wrapper--s" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsnotify-pane">
          <div class="nhsnotify-pane__side-bar">
            <nav class="nhsnotify-side-nav">
              <ul class="nhsuk-list nhsnotify-side-nav__list">
                
              <li class="
                      nhsnotify-side-nav__item
                      {% if post.url == page.url %}
                        nhsnotify-side-nav__item--current
                      {% endif %}
                    ">
                  <a class="nhsnotify-side-nav__link" href="{{ './safs' | relative_url }}">SAFs</a>
                </li>

                 
                   {% for saf in site.safs %}
                <li class="
                      nhsnotify-side-nav__item
                      {% if saf.url == page.url %}
                        nhsnotify-side-nav__item--current
                      {% endif %}
                    ">
                 {%- assign title = saf.title -%}
                  {%- if saf.description -%}{%- assign title = title | append: ": " | append: saf.description  -%} {%- endif -%} 
                  <a class="nhsnotify-side-nav__link" href="{{ site.baseurl | append: saf.url }}">{{ title }}</a>

                </li>
                {% endfor %}
           
              </ul>

            </nav>
          </div>
          <div class="nhsnotify-pane__main-content">
            {% if page.section != undefined %}
            <heading class="nhsuk-heading-s" style="margin-bottom: 0; color: #4c6272">{{ page.section }}</heading>
            {% endif %}
 
            {% assign saf_dimension = site.saf_dimensions | where: "name", page.dimension | first %}
            {%- include saf.html -%}

          </div>
        </div>
      </div>
    </div>
  </main>
</div>


 {%- include footer.html -%}