---
layout: default
---


<div class="nhsuk-width-container">
  {%- include breadcrumb.html -%}
  <main class="nhsuk-main-wrapper--s" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsnotify-pane">
          <div class="nhsnotify-pane__side-bar">
            <nav class="nhsnotify-side-nav">
              <ul class="nhsuk-list nhsnotify-side-nav__list">
                
              <li class="
                      nhsnotify-side-nav__item
                      {% if post.url == page.url %}
                        nhsnotify-side-nav__item--current
                      {% endif %}
                    ">
                  <a class="nhsnotify-side-nav__link" href="{{ './saf_dimensions' | relative_url }}">SAF Dimensions</a>
                </li>

                 
                   {% for saf_dimension in site.saf_dimensions %}
                <li class="
                      nhsnotify-side-nav__item
                      {% if saf_dimension.url == page.url %}
                        nhsnotify-side-nav__item--current
                      {% endif %}
                    ">
                  <a class="nhsnotify-side-nav__link" href="{{ site.baseurl | append: saf_dimension.url }}">{{ saf_dimension.title }}</a>
                </li>
                {% endfor %}
           
              </ul>

            </nav>
          </div>
          <div class="nhsnotify-pane__main-content">
            {% if page.section != undefined %}
            <heading class="nhsuk-heading-s" style="margin-bottom: 0; color: #4c6272">{{ page.section }}</heading>
            {% endif %}
 
             <h1>{{ page.title }}  </h1>

   {{ content }}
            {%- include saf_dimension.html saf_dimension_name=page.name -%}

          </div>
        </div>
      </div>
    </div>
  </main>
</div>



